<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.hchier.hzone.mapper.TVideoMapper">
  <resultMap id="BaseResultMap" type="xyz.hchier.hzone.entity.TVideo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="publisher" jdbcType="VARCHAR" property="publisher" />
    <result column="path" jdbcType="VARCHAR" property="path" />
    <result column="favor_num" jdbcType="INTEGER" property="favorNum" />
    <result column="comment_num" jdbcType="INTEGER" property="commentNum" />
    <result column="introduction" jdbcType="VARCHAR" property="introduction" />
    <result column="public" jdbcType="BIT" property="public" />
    <result column="hidden" jdbcType="BIT" property="hidden" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_video
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="xyz.hchier.hzone.entity.TVideo">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_video (publisher, `path`, favor_num, 
      comment_num, introduction, `public`, 
      hidden, create_time)
    values (#{publisher,jdbcType=VARCHAR}, #{path,jdbcType=VARCHAR}, #{favorNum,jdbcType=INTEGER}, 
      #{commentNum,jdbcType=INTEGER}, #{introduction,jdbcType=VARCHAR}, #{public,jdbcType=BIT}, 
      #{hidden,jdbcType=BIT}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="xyz.hchier.hzone.entity.TVideo">
    update t_video
    set publisher = #{publisher,jdbcType=VARCHAR},
      `path` = #{path,jdbcType=VARCHAR},
      favor_num = #{favorNum,jdbcType=INTEGER},
      comment_num = #{commentNum,jdbcType=INTEGER},
      introduction = #{introduction,jdbcType=VARCHAR},
      `public` = #{public,jdbcType=BIT},
      hidden = #{hidden,jdbcType=BIT},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, publisher, `path`, favor_num, comment_num, introduction, `public`, hidden, 
    create_time
    from t_video
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, publisher, `path`, favor_num, comment_num, introduction, `public`, hidden, 
    create_time
    from t_video
  </select>
</mapper>